body
{
	color: white;
	text-shadow: -1px 0 black, 0 1px black,
				1px 0 black, 0 -1px black;
}

main
{
	font-size:30px;
}

.sectionAll
{
	margin-top: 100px;
	margin-left: 2%;
}

h2
{
	margin-left: 6%;
	color: #FF0000;
	font-size: 80px;
	text-shadow: -1px 0 black, 0 1px black,
				2px 0 black, 0 -1px black;
	font-family: Satisfy, Monotype Corsiva;
	margin-right: 60%;
}

.fond_pour_texte
{
	background-color: rgba(255,140,0,0.6);
}

.margArt 
{
	margin-left: 2%;
	margin-right: 2%;
	border-style:solid; 
	border-color:black;
	border-width:1px; 
	padding: 0 1%;
	text-indent: 20px; 
	text-align: justify;
	background-color: rgba(255,140,0,0.6);
}

.titreDesArticles
{
	color: #F7819F;
	font-family: Satisfy, Monotype Corsiva;
	font-size: 40px;
	text-shadow: -1px 0 black, 0 1px black,
				1px 0 black, 0 -1px black;
}

aside 
{
	border-style:solid; 
	border-color:black;
	border-width:1px; 
	width: 41%;
	height: 80%;
	padding: 2%;
	padding-bottom: 5%;
	float: right;
	margin : 10% 5% 10% 5%;
	border-radius : 15%;
}


ul
{
	color: black; 
}


.section 
{
	border-width:1px;
	border-style:solid; 
	border-color:black;
	padding: 10px;
	margin: 200px 20px 100px 20px;
	overflow: hidden;
	text-align: justify;
	background-color: rgba(255,140,0,0.6);
}

.liensNormaux
{
	text-decoration: none;
	color: white;
}


.liensNormaux:visited
{
	color: #CC2EFA;
}

.image_aside
{
	height: 50%;
	width: 80%;
	margin: 4% 2% 2% 5%;
}


