body
{
	color: white;
	text-shadow: -1px 0 black, 0 1px black,
      1px 0 black, 0 -1px black;
}

flex
{
/*margin-top: 100px;
  margin-left: 2%; */
  height: 100%;
display: flex;
justify-content: space-evenly;
flex-direction: column;
align-content: space-evenly;
}

.sectionAll
{
margin-top: 5%;
}

h2
{
	margin-left: 6%;
	color: #FF0000;
	font-size: 50px;
  text-shadow: -1px 0 black, 0 1px black,
      2px 0 black, 0 -1px black;
	font-family: Satisfy, Monotype Corsiva;
	margin-right: 72%;
}

.fond_pour_texte
{
  background-color: rgba(255,140,0,0.6);
}

.margArt 
{
  margin-left: 2%;
	margin-right: 2%;
	border-style:solid; 
   border-color:black;
   border-width:1px; 
   
  padding: 0 1%;
  text-indent: 20px; 
   text-align: justify;
   background-color: rgba(255,140,0,0.6);

}

.titreDesArticles
{
	color: #F7819F;
	font-family: Satisfy, Monotype Corsiva;
	font-size: 30px;
	text-shadow: -1px 0 black, 0 1px black,
      1px 0 black, 0 -1px black;
}

aside 
{
  border-style:solid; 
   border-color:black;
   border-width:1px; 
  width: 41%;
  height: 400px;
  padding: 2%;
  padding-bottom: 5%;
  float: right;
  margin : 5% 2%;
  border-radius : 15%;

}

.image_aside
{
 height: 35%;
 width: 95%;
 margin-top: -1.7%;
}

ul
{ color: black; 
}


.section 
{
  border-width:1px;
 border-style:solid; 
 border-color:black;
   text-indent: 20px; 
 padding: 0 2% 2% 2%;
 margin: 5% 2%;
 overflow: hidden;
  text-align: justify;
   background-color: rgba(255,140,0,0.6);
}


.liensNormaux

{
		text-decoration: none;
		color: white;
}


.liensNormaux:visited
{
color: #CC2EFA;
}


.liensNormaux:hover
{
color: #DA81F5;
}
