figure
{
	display: inline-block;
}

video
{
	position: center;
	margin-top: 2%;
}

section
{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}


figcaption
{
	display:relative; 
	margin-left: 20px;
	color: white;
	font-size: 35px;
	font-family: 'Permanent Marker', cursive;
	text-decoration: underline;

}
.contourTableau
{
	text-align: center;
	background-color: rgba(255,140,0,0.6);
	padding: 0 5% 0% 5%%;
	margin: 0 5% 0% 5%;
	border-width:1px;
	border-style:solid;
	border-color:black;
}
